<section class="section novi-background section-1 bg-primary-darker text-center" id="profile_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-7 col-xl-6"><br><br><br>
                <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">- - - - - - - - - - - - -</span></h3>
                <h2 class="wow-outer"><span class="wow slideInDown text-uppercase">Profile</span></h2>
                <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">- - - - - - - - - - - - -</span></h3>
                <img id="avatar" src="" alt="User Image" class="img-fluid rounded-circle" style="width: 400px; height: 400px;"> <br><br><br><hr>
                <h1>Welcome, <span id="username"></span></h1><hr>
                <h3 id="email"><strong>Email:</strong></h3><hr><br>
                <div aria-label="Profile Actions">
                    <button type="button" id="orders" class="btn btn-secondary">My Orders</button>           
                    <button type="button" id="likes" class="btn btn-secondary">Likes</button>
                    <button type="button" id="settings" class="btn btn-secondary">Settings</button>
                </div>
            </div>
        </div>
    </div>
</section>