<footer class="section novi-background footer-advanced bg-gray-700">
	<div class="footer-advanced-aside">
		<div class="container">
			<div class="footer-advanced-layout">
				<div>
					<ul class="list-nav">
						<li><a class="button_homepage" href="?module=home">Home</a></li>
						<li><a href="?module=shop">Shop</a></li>
						<!-- <li><a href="index.php?page=aboutus">About</a></li>
						<li><a href="index.php?page=contactus">Contacts</a></li>
						<li><a href="index.php?page=typography">Typography</a></li> -->
					</ul>
				</div>
				<div>
					<ul class="foter-social-links list-inline list-inline-md">
						<li><a class="icon novi-icon icon-sm link-default mdi mdi-facebook" href="#"></a></li>
						<li><a class="icon novi-icon icon-sm link-default mdi mdi-twitter" href="#"></a></li>
						<li><a class="icon novi-icon icon-sm link-default mdi mdi-instagram" href="#"></a></li>
						<li><a class="icon novi-icon icon-sm link-default mdi mdi-google" href="#"></a></li>
						<li><a class="icon novi-icon icon-sm link-default mdi mdi-linkedin" href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<hr />
	</div>
	<div class="footer-advanced-aside">
		<div class="container">
			<div class="footer-advanced-layout"><a class="brand" href="?module=home"><img src="<?php SITE_PATH?>view/images/logo/logo-light-115x34.png" alt="" width="115" height="34" srcset="<?php SITE_PATH?>view/images/logo/logo-light-115x34.png 2x" /></a>
				<!-- Rights-->
				<p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="<?php SITE_PATH?>view/js/core.min.js"></script>
<script src="<?php SITE_PATH?>view/js/script.js"></script>
<script src="<?php SITE_PATH?>module/search/view/js/controller_search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="<?php SITE_PATH?>utils/credentials.js"></script>

